/* ---Algemeen--- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
/* ---Body--- */
body{
    background-color: rgb(170, 170, 170);
}

/* ---Navigation--- */
#left-screen{ 
    position: fixed;
    float: left;
    top: 0px;
    width: 19vw; 
    height: 100vh; 
    background-color:rgb(140,183,127); 
    display: grid; 
    align-items: center; 
    justify-content: center; 
    user-select: none; 
  }
  .button{
    position: fixed;
    top: 20px;
    left: 20px;
    width: 4vw;
    height: 7vh;
    transform: translateX(-20vw);
  }  
  .buttonBar{
     background-color: black;
    position: absolute;
    width: 7vw;
    height: 1vh;
    border-radius: 5vw;
  }

  .buttonBar-1{
    top: 1vh;
    left: 0.5vw;
  }  
  .buttonBar-2{
    top: 3vh;
    left: 0.5vw;
  }  
  .buttonBar-3{
    top: 5vh;
    left: 0.5vw;
  }
  #navigatie-containerButton{ 
    position: fixed;
    transform: translateX(-50vw);
    width: 50vw;
    height: 100vh;
    transition: all 1s;
    background-color:rgba(140,183,127,255);
  }

  #navigatieButton-circle{
    position: fixed;
    width: 34vw;
    left: 12vw;
    top: 5vh;
    height: 90vh;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10vw;
    font-size: 3vw;
    background-color:(140,183,127,255);
  }

  .navigatieButton{
    vertical-align: middle;
    font-size: 1em;
    padding-left: 0.5vw;
    height: 8vh;
    width: 25vw;
    font-family: bold, Courier, monospace;
    line-height: 5vh;
    line-height: 8vh;
  }
  #navigatie-container{  
    margin: 0em; 
    border: solid 1px black; 
    width: 15vw; 
    height: 80vh; 
    display: grid; 
    grid-template-rows: repeat(6, 1fr); 
    justify-content: center; 
    align-items: center; 
    border-radius: 40px; 
    background-color: white; 
  } 
   
  .navigatie{ 
    vertical-align: middle; 
    font-size: 1.6vw; 
    padding-left: 0.5vw; 
    height: 5vh; 
    width: 11vw; 
    color:rgba(140,183,127,255); 
    font-family: 'Courier New', Courier, monospace; 
    line-height: 5vh; 
  } 

  a{
    color: rgb(140,183,127); 
    user-select: none;
  }
 
  .navigatie:hover{ 
    background-color:rgb(140,183,127); 
    border-radius: 80px; 
  } 


  .navigatieButton:hover{
    border-radius: 80px; 
    background-color:rgb(140,183,127);
    color: black;
  }


/* ---Header--- */

#header{
    float: right;
    position: relative;
    top: 0px;
    background-color: rgb(170, 170, 170);
    width: 80.9vw;
    height: 30vh;
    padding: 10px;
}
#profile{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: right;
    margin-right: 80px;
}
#Nametext{
    font-size: 65px;
    margin-top: 20px;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 40px;
}

/* ---Info Section--- */

#info-container{
    display: grid;
    float: right;
    position: relative;
    top: 0px;
    background-color: rgb(170, 170, 170);
    width: 81vw;
    height: 260h;
    padding: 10px;
}
.info-box{
    background-color: white;
    margin: 10px;
    height: 40vh;
    grid-column-start:1 ;
    grid-column-end:4 ;
    font-size: 2vw;
}
.Icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.Headline{
    font-size: 50px;
    display: inline-block;
    margin-left: 10px;
    color: rgb(140,183,127);
}
#skill-container{
  height: 400px;
  width: 78.9vw;
  font-size: 30px;
  float: right;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#headline4{
  height: auto;
}

.Head-container{
  grid-column: span 2;
}

.skillName{
  line-height: 8vh;
  font-size: 3vw;
  padding-left: 1vw;
}

.skillBar{
  transform: translateX(-20vw);
  border: solid 1px black;
  margin-top: 4vh;
  width: 20vw;
  height: 3vh;
  border-radius: 3vh;
}

.skillDone{
  background-color: green;
  border-radius: 3vh 0vh 0vh 3vh;
  height: 100%;
  transform: translateX(-0.06vw);
}

.skillDone-0{
  width: 17vw;
}
.skillDone-1{
  width: 15vw;
}
.skillDone-2{
  width: 14vw;
}
.skillDone-3{
  width: 18vw;
}
.projectLink{
  color: black;
  margin-left:2vw;
}

/* ---Footer--- */
#headline6{
    height: 28vh;
}
#contact-container{
    height: 200px;
    width: 78.9vw;
    font-size: 30px;
    float: right;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 20px
  }
  
  .contact > p{
  width: 70px;
  float: left;
  line-height: 13vh;
  padding-left: 2vh;
  }
  
  .contact-1{
    grid-column: span 2;
  }

  .contact-1 > h1{
      transform: translateX(-20px);
  }
  
  .contactImg{
    float: left;
    height: 80%;
    padding-top: 1vh;
    user-select: none;
  }
  
  .contactImg:hover{
    transform: scale(1.2); 
    transition: transform .2s;
  }
  